<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="org.uniworks.groupware.admin.mapper.Cm002cMapper"> 
	<resultMap id="BaseResultMap" type="org.uniworks.groupware.admin.domain.Cm002c"> 
		<result column="CO_ID" jdbcType="VARCHAR" property="coId" /> 
		<result column="MAJ_CODE" jdbcType="VARCHAR" property="majCode" /> 
		<result column="SUB_CODE" jdbcType="VARCHAR" property="subCode" /> 
		<result column="RESC_KEY" jdbcType="VARCHAR" property="rescKey" /> 
		<result column="SUB_CODE_NAME" jdbcType="VARCHAR" property="subCodeName" /> 
		<result column="SUB_CODE_DESC" jdbcType="VARCHAR" property="subCodeDesc" /> 
		<result column="USE_INDC" jdbcType="VARCHAR" property="useIndc" /> 
	</resultMap> 

	<!-- 목록 조회 --> 
	<select id="select" parameterType="java.util.Map" resultMap="BaseResultMap"> 
		select  A.CO_ID as CO_ID, A.MAJ_CODE as MAJ_CODE, A.SUB_CODE as SUB_CODE, A.RESC_KEY as RESC_KEY, 
        A.SUB_CODE_NAME as SUB_CODE_NAME, A.SUB_CODE_DESC SUB_CODE_DESC, A.USE_INDC as USE_INDC
		from   cm002c A 
			INNER JOIN cm003m B on (
					A.CO_ID = #{coId,jdbcType=VARCHAR}
			  and   A.MAJ_CODE = #{majCode,jdbcType=VARCHAR}
			  and 	A.CO_ID = B.CO_ID
			  and	A.RESC_KEY = B.RESC_KEY
			  and	B.LOCALE = #{lang,jdbcType=VARCHAR}
			)
		<where>
			<if test="useIndc != null">
			  USE_INDC= #{useIndc,jdbcType=VARCHAR}
			</if>
		</where>
		order by A.CO_ID, A.MAJ_CODE, A.SUB_CODE    
	</select> 
 
	<!-- 상세 조회 --> 
	<select id="selectByPrimaryKey" parameterType="java.util.Map" resultMap="BaseResultMap"> 		  
		select  A.CO_ID as CO_ID, A.MAJ_CODE as MAJ_CODE, A.SUB_CODE as SUB_CODE, A.RESC_KEY as RESC_KEY, 
        A.SUB_CODE_NAME as SUB_CODE_NAME, A.SUB_CODE_DESC SUB_CODE_DESC, A.USE_INDC as USE_INDC
		from   cm002c A 
			INNER JOIN cm003m B on (
					A.CO_ID = #{coId,jdbcType=VARCHAR}			  
			  and 	A.CO_ID = B.CO_ID
			  and   A.MAJ_CODE = #{majCode,jdbcType=VARCHAR}
			  and	A.SUB_CODE	=	#{subCode,jdbcType=VARCHAR}
			  and	A.RESC_KEY = B.RESC_KEY
			  and	B.LOCALE = #{lang,jdbcType=VARCHAR}			  
			)		  
	</select> 
 
	<!-- 등록 --> 
	<insert id="insert" parameterType="org.uniworks.groupware.admin.domain.Cm002c"> 
		insert	into cm002c(CO_ID, MAJ_CODE, SUB_CODE, RESC_KEY, SUB_CODE_NAME, SUB_CODE_DESC, USE_INDC) 
		values (#{coId,jdbcType=VARCHAR},#{majCode,jdbcType=VARCHAR},#{subCode,jdbcType=VARCHAR},#{rescKey,jdbcType=VARCHAR},#{subCodeName,jdbcType=VARCHAR},#{subCodeDesc,jdbcType=VARCHAR},#{useIndc,jdbcType=VARCHAR}) 
	</insert> 
 
	<!-- 수정 --> 
	<update id="updateByPrimaryKey" parameterType="org.uniworks.groupware.admin.domain.Cm002c"> 
		update	cm002c 
		<trim prefix="SET" suffixOverrides=","> 
			<if test="rescKey != null">RESC_KEY= #{rescKey,jdbcType=VARCHAR},</if> 
			<if test="subCodeName != null">SUB_CODE_NAME= #{subCodeName,jdbcType=VARCHAR},</if> 
			<if test="subCodeDesc != null">SUB_CODE_DESC= #{subCodeDesc,jdbcType=VARCHAR},</if> 
			<if test="useIndc != null">USE_INDC= #{useIndc,jdbcType=VARCHAR},</if> 
		</trim> 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR}
		  and   MAJ_CODE	=	#{majCode,jdbcType=VARCHAR} 
		  and	SUB_CODE	=	#{subCode,jdbcType=VARCHAR} 
	</update> 
 
	<!-- 삭제 --> 
	<delete id="deleteByPrimaryKey" parameterType="java.util.Map"> 
		delete	from cm002c 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR}
		  and   MAJ_CODE	=	#{majCode,jdbcType=VARCHAR} 
		  and	SUB_CODE	=	#{subCode,jdbcType=VARCHAR} 
	</delete> 
</mapper>