<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="org.uniworks.groupware.admin.mapper.Hr010mMapper"> 
	<resultMap id="BaseResultMap" type="org.uniworks.groupware.admin.domain.Hr010m"> 
		<result column="CO_ID" jdbcType="VARCHAR" property="coId" /> 
		<result column="EMP_NO" jdbcType="VARCHAR" property="empNo" /> 
		<result column="SYS_USER_ID" jdbcType="VARCHAR" property="sysUserId" /> 
		<result column="EMP_NAME_KOR" jdbcType="VARCHAR" property="empNameKor" /> 
		<result column="EMP_NAME_CHN" jdbcType="VARCHAR" property="empNameChn" /> 
		<result column="EMP_NAME_ENG" jdbcType="VARCHAR" property="empNameEng" /> 
		<result column="WORK_INDC" jdbcType="VARCHAR" property="workIndc" /> 
		<result column="DUTY_CODE" jdbcType="VARCHAR" property="dutyCode" /> 
		<result column="PSTN_CODE" jdbcType="VARCHAR" property="pstnCode" /> 
		<result column="ASGN_OGAN_CODE_1" jdbcType="VARCHAR" property="asgnOganCode1" /> 
		<result column="ASGN_OGAN_DESC_1" jdbcType="VARCHAR" property="asgnOganDesc1" /> 
		<result column="ASGN_OGAN_CODE_2" jdbcType="VARCHAR" property="asgnOganCode2" /> 
		<result column="ASGN_OGAN_DESC_2" jdbcType="VARCHAR" property="asgnOganDesc2" /> 
		<result column="ASGN_OGAN_CODE_3" jdbcType="VARCHAR" property="asgnOganCode3" /> 
		<result column="ASGN_OGAN_DESC_3" jdbcType="VARCHAR" property="asgnOganDesc3" /> 
		<result column="ASGN_OGAN_CODE_4" jdbcType="VARCHAR" property="asgnOganCode4" /> 
		<result column="ASGN_OGAN_DESC_4" jdbcType="VARCHAR" property="asgnOganDesc4" /> 
		<result column="ASGN_OGAN_CODE_5" jdbcType="VARCHAR" property="asgnOganCode5" /> 
		<result column="ASGN_OGAN_DESC_5" jdbcType="VARCHAR" property="asgnOganDesc5" /> 
		<result column="ASGN_OGAN_CODE_6" jdbcType="VARCHAR" property="asgnOganCode6" /> 
		<result column="ASGN_OGAN_DESC_6" jdbcType="VARCHAR" property="asgnOganDesc6" /> 
		<result column="ASGN_OGAN_CODE_7" jdbcType="VARCHAR" property="asgnOganCode7" /> 
		<result column="ASGN_OGAN_DESC_7" jdbcType="VARCHAR" property="asgnOganDesc7" /> 
		<result column="ASGN_OGAN_CODE_8" jdbcType="VARCHAR" property="asgnOganCode8" /> 
		<result column="ASGN_OGAN_DESC_8" jdbcType="VARCHAR" property="asgnOganDesc8" /> 
		<result column="ASGN_OGAN_CODE_9" jdbcType="VARCHAR" property="asgnOganCode9" /> 
		<result column="ASGN_OGAN_DESC_9" jdbcType="VARCHAR" property="asgnOganDesc9" /> 
		<result column="ASGN_OGAN_CODE_10" jdbcType="VARCHAR" property="asgnOganCode10" /> 
		<result column="ASGN_OGAN_DESC_10" jdbcType="VARCHAR" property="asgnOganDesc10" /> 
		<result column="ASGN_OGAN_CODE_11" jdbcType="VARCHAR" property="asgnOganCode11" /> 
		<result column="ASGN_OGAN_DESC_11" jdbcType="VARCHAR" property="asgnOganDesc11" /> 
		<result column="ASGN_OGAN_CODE_12" jdbcType="VARCHAR" property="asgnOganCode12" /> 
		<result column="ASGN_OGAN_DESC_12" jdbcType="VARCHAR" property="asgnOganDesc12" /> 
		<result column="OFFC_TEL_NO" jdbcType="VARCHAR" property="offcTelNo" /> 
		<result column="MOBL_PHON_NO" jdbcType="VARCHAR" property="moblPhonNo" /> 
		<result column="BIRTH_DATE" jdbcType="VARCHAR" property="birthDate" /> 
		<result column="SSN" jdbcType="VARCHAR" property="ssn" /> 
		<result column="MAIL_ADDR" jdbcType="VARCHAR" property="mailAddr" /> 
		<result column="ENTR_DATE" jdbcType="VARCHAR" property="entrDate" /> 
		<result column="RSGN_DATE" jdbcType="VARCHAR" property="rsgnDate" /> 
		<result column="OFFC_ORD_DATE" jdbcType="VARCHAR" property="offcOrdDate" /> 
		<result column="MARRIAGE_INDC" jdbcType="VARCHAR" property="marriageIndc" /> 
		<result column="MARRIAGE_DATE" jdbcType="VARCHAR" property="marriageDate" /> 
		<result column="ORGN_OGAN_CODE_1" jdbcType="VARCHAR" property="orgnOganCode1" /> 
		<result column="ORGN_OGAN_DESC_1" jdbcType="VARCHAR" property="orgnOganDesc1" /> 
		<result column="ORGN_OGAN_CODE_2" jdbcType="VARCHAR" property="orgnOganCode2" /> 
		<result column="ORGN_OGAN_DESC_2" jdbcType="VARCHAR" property="orgnOganDesc2" /> 
		<result column="ORGN_OGAN_CODE_3" jdbcType="VARCHAR" property="orgnOganCode3" /> 
		<result column="ORGN_OGAN_DESC_3" jdbcType="VARCHAR" property="orgnOganDesc3" /> 
		<result column="ORGN_OGAN_CODE_4" jdbcType="VARCHAR" property="orgnOganCode4" /> 
		<result column="ORGN_OGAN_DESC_4" jdbcType="VARCHAR" property="orgnOganDesc4" /> 
		<result column="ORGN_OGAN_CODE_5" jdbcType="VARCHAR" property="orgnOganCode5" /> 
		<result column="ORGN_OGAN_DESC_5" jdbcType="VARCHAR" property="orgnOganDesc5" /> 
		<result column="ORGN_OGAN_CODE_6" jdbcType="VARCHAR" property="orgnOganCode6" /> 
		<result column="ORGN_OGAN_DESC_6" jdbcType="VARCHAR" property="orgnOganDesc6" /> 
		<result column="ORGN_OGAN_CODE_7" jdbcType="VARCHAR" property="orgnOganCode7" /> 
		<result column="ORGN_OGAN_DESC_7" jdbcType="VARCHAR" property="orgnOganDesc7" /> 
		<result column="ORGN_OGAN_CODE_8" jdbcType="VARCHAR" property="orgnOganCode8" /> 
		<result column="ORGN_OGAN_DESC_8" jdbcType="VARCHAR" property="orgnOganDesc8" /> 
		<result column="ORGN_OGAN_CODE_9" jdbcType="VARCHAR" property="orgnOganCode9" /> 
		<result column="ORGN_OGAN_DESC_9" jdbcType="VARCHAR" property="orgnOganDesc9" /> 
		<result column="ORGN_OGAN_CODE_10" jdbcType="VARCHAR" property="orgnOganCode10" /> 
		<result column="ORGN_OGAN_DESC_10" jdbcType="VARCHAR" property="orgnOganDesc10" /> 
		<result column="ORGN_OGAN_CODE_11" jdbcType="VARCHAR" property="orgnOganCode11" /> 
		<result column="ORGN_OGAN_DESC_11" jdbcType="VARCHAR" property="orgnOganDesc11" /> 
		<result column="ORGN_OGAN_CODE_12" jdbcType="VARCHAR" property="orgnOganCode12" /> 
		<result column="ORGN_OGAN_DESC_12" jdbcType="VARCHAR" property="orgnOganDesc12" /> 
		<result column="BASE_ASGN_OGAN_LEV" jdbcType="VARCHAR" property="baseAsgnOganLev" /> 
		<result column="BASE_ORGN_OGAN_LEV" jdbcType="VARCHAR" property="baseOrgnOganLev" /> 
	</resultMap> 

	<!-- 목록 조회 --> 
	<select id="select" parameterType="java.util.Map" resultMap="BaseResultMap"> 
		select  CO_ID, EMP_NO, SYS_USER_ID, EMP_NAME_KOR, EMP_NAME_CHN, EMP_NAME_ENG, WORK_INDC, DUTY_CODE, PSTN_CODE, 
				ASGN_OGAN_CODE_1, ASGN_OGAN_DESC_1, ASGN_OGAN_CODE_2, ASGN_OGAN_DESC_2, ASGN_OGAN_CODE_3, ASGN_OGAN_DESC_3, ASGN_OGAN_CODE_4, ASGN_OGAN_DESC_4, 
				ASGN_OGAN_CODE_5, ASGN_OGAN_DESC_5, ASGN_OGAN_CODE_6, ASGN_OGAN_DESC_6, ASGN_OGAN_CODE_7, ASGN_OGAN_DESC_7, ASGN_OGAN_CODE_8, ASGN_OGAN_DESC_8, 
				ASGN_OGAN_CODE_9, ASGN_OGAN_DESC_9, ASGN_OGAN_CODE_10, ASGN_OGAN_DESC_10, ASGN_OGAN_CODE_11, ASGN_OGAN_DESC_11, ASGN_OGAN_CODE_12, ASGN_OGAN_DESC_12, 
				OFFC_TEL_NO, MOBL_PHON_NO, BIRTH_DATE, SSN, MAIL_ADDR, ENTR_DATE, RSGN_DATE, OFFC_ORD_DATE, 
				MARRIAGE_INDC, MARRIAGE_DATE, ORGN_OGAN_CODE_1, ORGN_OGAN_DESC_1, ORGN_OGAN_CODE_2, ORGN_OGAN_DESC_2, ORGN_OGAN_CODE_3, ORGN_OGAN_DESC_3, 
				ORGN_OGAN_CODE_4, ORGN_OGAN_DESC_4, ORGN_OGAN_CODE_5, ORGN_OGAN_DESC_5, ORGN_OGAN_CODE_6, ORGN_OGAN_DESC_6, ORGN_OGAN_CODE_7, ORGN_OGAN_DESC_7, 
				ORGN_OGAN_CODE_8, ORGN_OGAN_DESC_8, ORGN_OGAN_CODE_9, ORGN_OGAN_DESC_9, ORGN_OGAN_CODE_10, ORGN_OGAN_DESC_10, ORGN_OGAN_CODE_11, ORGN_OGAN_DESC_11, 
				ORGN_OGAN_CODE_12, ORGN_OGAN_DESC_12, BASE_ASGN_OGAN_LEV, BASE_ORGN_OGAN_LEV
		from   hr010m
	</select> 
 
	<!-- 상세 조회 --> 
	<select id="selectByPrimaryKey" parameterType="java.util.Map" resultMap="BaseResultMap"> 
		select  CO_ID, EMP_NO, SYS_USER_ID, EMP_NAME_KOR, EMP_NAME_CHN, EMP_NAME_ENG, WORK_INDC, DUTY_CODE, PSTN_CODE, 
				ASGN_OGAN_CODE_1, ASGN_OGAN_DESC_1, ASGN_OGAN_CODE_2, ASGN_OGAN_DESC_2, ASGN_OGAN_CODE_3, ASGN_OGAN_DESC_3, ASGN_OGAN_CODE_4, ASGN_OGAN_DESC_4, 
				ASGN_OGAN_CODE_5, ASGN_OGAN_DESC_5, ASGN_OGAN_CODE_6, ASGN_OGAN_DESC_6, ASGN_OGAN_CODE_7, ASGN_OGAN_DESC_7, ASGN_OGAN_CODE_8, ASGN_OGAN_DESC_8, 
				ASGN_OGAN_CODE_9, ASGN_OGAN_DESC_9, ASGN_OGAN_CODE_10, ASGN_OGAN_DESC_10, ASGN_OGAN_CODE_11, ASGN_OGAN_DESC_11, ASGN_OGAN_CODE_12, ASGN_OGAN_DESC_12, 
				OFFC_TEL_NO, MOBL_PHON_NO, BIRTH_DATE, SSN, MAIL_ADDR, ENTR_DATE, RSGN_DATE, OFFC_ORD_DATE, 
				MARRIAGE_INDC, MARRIAGE_DATE, ORGN_OGAN_CODE_1, ORGN_OGAN_DESC_1, ORGN_OGAN_CODE_2, ORGN_OGAN_DESC_2, ORGN_OGAN_CODE_3, ORGN_OGAN_DESC_3, 
				ORGN_OGAN_CODE_4, ORGN_OGAN_DESC_4, ORGN_OGAN_CODE_5, ORGN_OGAN_DESC_5, ORGN_OGAN_CODE_6, ORGN_OGAN_DESC_6, ORGN_OGAN_CODE_7, ORGN_OGAN_DESC_7, 
				ORGN_OGAN_CODE_8, ORGN_OGAN_DESC_8, ORGN_OGAN_CODE_9, ORGN_OGAN_DESC_9, ORGN_OGAN_CODE_10, ORGN_OGAN_DESC_10, ORGN_OGAN_CODE_11, ORGN_OGAN_DESC_11, 
				ORGN_OGAN_CODE_12, ORGN_OGAN_DESC_12, BASE_ASGN_OGAN_LEV, BASE_ORGN_OGAN_LEV
		from   hr010m
		where  CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and  EMP_NO	=	#{empNo,jdbcType=VARCHAR} 
	</select> 
 
	<!-- 등록 --> 
	<insert id="insert" parameterType="org.uniworks.groupware.admin.domain.Hr010m"> 
		insert	into hr010m(CO_ID, EMP_NO, SYS_USER_ID, EMP_NAME_KOR, EMP_NAME_CHN, EMP_NAME_ENG, WORK_INDC, DUTY_CODE, PSTN_CODE, 
				ASGN_OGAN_CODE_1, ASGN_OGAN_DESC_1, ASGN_OGAN_CODE_2, ASGN_OGAN_DESC_2, ASGN_OGAN_CODE_3, ASGN_OGAN_DESC_3, ASGN_OGAN_CODE_4, ASGN_OGAN_DESC_4, 
				ASGN_OGAN_CODE_5, ASGN_OGAN_DESC_5, ASGN_OGAN_CODE_6, ASGN_OGAN_DESC_6, ASGN_OGAN_CODE_7, ASGN_OGAN_DESC_7, ASGN_OGAN_CODE_8, ASGN_OGAN_DESC_8, 
				ASGN_OGAN_CODE_9, ASGN_OGAN_DESC_9, ASGN_OGAN_CODE_10, ASGN_OGAN_DESC_10, ASGN_OGAN_CODE_11, ASGN_OGAN_DESC_11, ASGN_OGAN_CODE_12, ASGN_OGAN_DESC_12, 
				OFFC_TEL_NO, MOBL_PHON_NO, BIRTH_DATE, SSN, MAIL_ADDR, ENTR_DATE, RSGN_DATE, OFFC_ORD_DATE, 
				MARRIAGE_INDC, MARRIAGE_DATE, ORGN_OGAN_CODE_1, ORGN_OGAN_DESC_1, ORGN_OGAN_CODE_2, ORGN_OGAN_DESC_2, ORGN_OGAN_CODE_3, ORGN_OGAN_DESC_3, 
				ORGN_OGAN_CODE_4, ORGN_OGAN_DESC_4, ORGN_OGAN_CODE_5, ORGN_OGAN_DESC_5, ORGN_OGAN_CODE_6, ORGN_OGAN_DESC_6, ORGN_OGAN_CODE_7, ORGN_OGAN_DESC_7, 
				ORGN_OGAN_CODE_8, ORGN_OGAN_DESC_8, ORGN_OGAN_CODE_9, ORGN_OGAN_DESC_9, ORGN_OGAN_CODE_10, ORGN_OGAN_DESC_10, ORGN_OGAN_CODE_11, ORGN_OGAN_DESC_11, 
				ORGN_OGAN_CODE_12, ORGN_OGAN_DESC_12, BASE_ASGN_OGAN_LEV, BASE_ORGN_OGAN_LEV) 
		values (#{coId,jdbcType=VARCHAR},#{empNo,jdbcType=VARCHAR},#{sysUserId,jdbcType=VARCHAR},#{empNameKor,jdbcType=VARCHAR},#{empNameChn,jdbcType=VARCHAR},#{empNameEng,jdbcType=VARCHAR},#{workIndc,jdbcType=VARCHAR} 
			,#{dutyCode,jdbcType=VARCHAR},#{pstnCode,jdbcType=VARCHAR},#{asgnOganCode1,jdbcType=VARCHAR},#{asgnOganDesc1,jdbcType=VARCHAR},#{asgnOganCode2,jdbcType=VARCHAR},#{asgnOganDesc2,jdbcType=VARCHAR} 
			,#{asgnOganCode3,jdbcType=VARCHAR},#{asgnOganDesc3,jdbcType=VARCHAR},#{asgnOganCode4,jdbcType=VARCHAR},#{asgnOganDesc4,jdbcType=VARCHAR},#{asgnOganCode5,jdbcType=VARCHAR},#{asgnOganDesc5,jdbcType=VARCHAR} 
			,#{asgnOganCode6,jdbcType=VARCHAR},#{asgnOganDesc6,jdbcType=VARCHAR},#{asgnOganCode7,jdbcType=VARCHAR},#{asgnOganDesc7,jdbcType=VARCHAR},#{asgnOganCode8,jdbcType=VARCHAR},#{asgnOganDesc8,jdbcType=VARCHAR} 
			,#{asgnOganCode9,jdbcType=VARCHAR},#{asgnOganDesc9,jdbcType=VARCHAR},#{asgnOganCode10,jdbcType=VARCHAR},#{asgnOganDesc10,jdbcType=VARCHAR},#{asgnOganCode11,jdbcType=VARCHAR},#{asgnOganDesc11,jdbcType=VARCHAR} 
			,#{asgnOganCode12,jdbcType=VARCHAR},#{asgnOganDesc12,jdbcType=VARCHAR},#{offcTelNo,jdbcType=VARCHAR},#{moblPhonNo,jdbcType=VARCHAR},#{birthDate,jdbcType=VARCHAR},#{ssn,jdbcType=VARCHAR} 
			,#{mailAddr,jdbcType=VARCHAR},#{entrDate,jdbcType=VARCHAR},#{rsgnDate,jdbcType=VARCHAR},#{offcOrdDate,jdbcType=VARCHAR},#{marriageIndc,jdbcType=VARCHAR},#{marriageDate,jdbcType=VARCHAR} 
			,#{orgnOganCode1,jdbcType=VARCHAR},#{orgnOganDesc1,jdbcType=VARCHAR},#{orgnOganCode2,jdbcType=VARCHAR},#{orgnOganDesc2,jdbcType=VARCHAR},#{orgnOganCode3,jdbcType=VARCHAR},#{orgnOganDesc3,jdbcType=VARCHAR} 
			,#{orgnOganCode4,jdbcType=VARCHAR},#{orgnOganDesc4,jdbcType=VARCHAR},#{orgnOganCode5,jdbcType=VARCHAR},#{orgnOganDesc5,jdbcType=VARCHAR},#{orgnOganCode6,jdbcType=VARCHAR},#{orgnOganDesc6,jdbcType=VARCHAR} 
			,#{orgnOganCode7,jdbcType=VARCHAR},#{orgnOganDesc7,jdbcType=VARCHAR},#{orgnOganCode8,jdbcType=VARCHAR},#{orgnOganDesc8,jdbcType=VARCHAR},#{orgnOganCode9,jdbcType=VARCHAR},#{orgnOganDesc9,jdbcType=VARCHAR} 
			,#{orgnOganCode10,jdbcType=VARCHAR},#{orgnOganDesc10,jdbcType=VARCHAR},#{orgnOganCode11,jdbcType=VARCHAR},#{orgnOganDesc11,jdbcType=VARCHAR},#{orgnOganCode12,jdbcType=VARCHAR},#{orgnOganDesc12,jdbcType=VARCHAR} 
			,#{baseAsgnOganLev,jdbcType=VARCHAR},#{baseOrgnOganLev,jdbcType=VARCHAR}) 
	</insert> 
 
	<!-- 수정 --> 
	<update id="updateByPrimaryKey" parameterType="org.uniworks.groupware.admin.domain.Hr010m"> 
		update	hr010m 
		<trim prefix="SET" suffixOverrides=","> 
			<if test="sysUserId != null">SYS_USER_ID= #{sysUserId,jdbcType=VARCHAR},</if> 
			<if test="empNameKor != null">EMP_NAME_KOR= #{empNameKor,jdbcType=VARCHAR},</if> 
			<if test="empNameChn != null">EMP_NAME_CHN= #{empNameChn,jdbcType=VARCHAR},</if> 
			<if test="empNameEng != null">EMP_NAME_ENG= #{empNameEng,jdbcType=VARCHAR},</if> 
			<if test="workIndc != null">WORK_INDC= #{workIndc,jdbcType=VARCHAR},</if> 
			<if test="dutyCode != null">DUTY_CODE= #{dutyCode,jdbcType=VARCHAR},</if> 
			<if test="pstnCode != null">PSTN_CODE= #{pstnCode,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode1 != null">ASGN_OGAN_CODE_1= #{asgnOganCode1,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc1 != null">ASGN_OGAN_DESC_1= #{asgnOganDesc1,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode2 != null">ASGN_OGAN_CODE_2= #{asgnOganCode2,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc2 != null">ASGN_OGAN_DESC_2= #{asgnOganDesc2,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode3 != null">ASGN_OGAN_CODE_3= #{asgnOganCode3,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc3 != null">ASGN_OGAN_DESC_3= #{asgnOganDesc3,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode4 != null">ASGN_OGAN_CODE_4= #{asgnOganCode4,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc4 != null">ASGN_OGAN_DESC_4= #{asgnOganDesc4,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode5 != null">ASGN_OGAN_CODE_5= #{asgnOganCode5,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc5 != null">ASGN_OGAN_DESC_5= #{asgnOganDesc5,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode6 != null">ASGN_OGAN_CODE_6= #{asgnOganCode6,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc6 != null">ASGN_OGAN_DESC_6= #{asgnOganDesc6,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode7 != null">ASGN_OGAN_CODE_7= #{asgnOganCode7,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc7 != null">ASGN_OGAN_DESC_7= #{asgnOganDesc7,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode8 != null">ASGN_OGAN_CODE_8= #{asgnOganCode8,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc8 != null">ASGN_OGAN_DESC_8= #{asgnOganDesc8,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode9 != null">ASGN_OGAN_CODE_9= #{asgnOganCode9,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc9 != null">ASGN_OGAN_DESC_9= #{asgnOganDesc9,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode10 != null">ASGN_OGAN_CODE_10= #{asgnOganCode10,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc10 != null">ASGN_OGAN_DESC_10= #{asgnOganDesc10,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode11 != null">ASGN_OGAN_CODE_11= #{asgnOganCode11,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc11 != null">ASGN_OGAN_DESC_11= #{asgnOganDesc11,jdbcType=VARCHAR},</if> 
			<if test="asgnOganCode12 != null">ASGN_OGAN_CODE_12= #{asgnOganCode12,jdbcType=VARCHAR},</if> 
			<if test="asgnOganDesc12 != null">ASGN_OGAN_DESC_12= #{asgnOganDesc12,jdbcType=VARCHAR},</if> 
			<if test="offcTelNo != null">OFFC_TEL_NO= #{offcTelNo,jdbcType=VARCHAR},</if> 
			<if test="moblPhonNo != null">MOBL_PHON_NO= #{moblPhonNo,jdbcType=VARCHAR},</if> 
			<if test="birthDate != null">BIRTH_DATE= #{birthDate,jdbcType=VARCHAR},</if> 
			<if test="ssn != null">SSN= #{ssn,jdbcType=VARCHAR},</if> 
			<if test="mailAddr != null">MAIL_ADDR= #{mailAddr,jdbcType=VARCHAR},</if> 
			<if test="entrDate != null">ENTR_DATE= #{entrDate,jdbcType=VARCHAR},</if> 
			<if test="rsgnDate != null">RSGN_DATE= #{rsgnDate,jdbcType=VARCHAR},</if> 
			<if test="offcOrdDate != null">OFFC_ORD_DATE= #{offcOrdDate,jdbcType=VARCHAR},</if> 
			<if test="marriageIndc != null">MARRIAGE_INDC= #{marriageIndc,jdbcType=VARCHAR},</if> 
			<if test="marriageDate != null">MARRIAGE_DATE= #{marriageDate,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode1 != null">ORGN_OGAN_CODE_1= #{orgnOganCode1,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc1 != null">ORGN_OGAN_DESC_1= #{orgnOganDesc1,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode2 != null">ORGN_OGAN_CODE_2= #{orgnOganCode2,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc2 != null">ORGN_OGAN_DESC_2= #{orgnOganDesc2,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode3 != null">ORGN_OGAN_CODE_3= #{orgnOganCode3,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc3 != null">ORGN_OGAN_DESC_3= #{orgnOganDesc3,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode4 != null">ORGN_OGAN_CODE_4= #{orgnOganCode4,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc4 != null">ORGN_OGAN_DESC_4= #{orgnOganDesc4,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode5 != null">ORGN_OGAN_CODE_5= #{orgnOganCode5,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc5 != null">ORGN_OGAN_DESC_5= #{orgnOganDesc5,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode6 != null">ORGN_OGAN_CODE_6= #{orgnOganCode6,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc6 != null">ORGN_OGAN_DESC_6= #{orgnOganDesc6,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode7 != null">ORGN_OGAN_CODE_7= #{orgnOganCode7,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc7 != null">ORGN_OGAN_DESC_7= #{orgnOganDesc7,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode8 != null">ORGN_OGAN_CODE_8= #{orgnOganCode8,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc8 != null">ORGN_OGAN_DESC_8= #{orgnOganDesc8,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode9 != null">ORGN_OGAN_CODE_9= #{orgnOganCode9,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc9 != null">ORGN_OGAN_DESC_9= #{orgnOganDesc9,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode10 != null">ORGN_OGAN_CODE_10= #{orgnOganCode10,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc10 != null">ORGN_OGAN_DESC_10= #{orgnOganDesc10,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode11 != null">ORGN_OGAN_CODE_11= #{orgnOganCode11,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc11 != null">ORGN_OGAN_DESC_11= #{orgnOganDesc11,jdbcType=VARCHAR},</if> 
			<if test="orgnOganCode12 != null">ORGN_OGAN_CODE_12= #{orgnOganCode12,jdbcType=VARCHAR},</if> 
			<if test="orgnOganDesc12 != null">ORGN_OGAN_DESC_12= #{orgnOganDesc12,jdbcType=VARCHAR},</if> 
			<if test="baseAsgnOganLev != null">BASE_ASGN_OGAN_LEV= #{baseAsgnOganLev,jdbcType=VARCHAR},</if> 
			<if test="baseOrgnOganLev != null">BASE_ORGN_OGAN_LEV= #{baseOrgnOganLev,jdbcType=VARCHAR},</if> 
		</trim> 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and	EMP_NO	=	#{empNo,jdbcType=VARCHAR} 
	</update> 
 
	<!-- 삭제 --> 
	<delete id="deleteByPrimaryKey" parameterType="java.util.Map"> 
		delete	from hr010m 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and	EMP_NO	=	#{empNo,jdbcType=VARCHAR} 
	</delete> 
</mapper>