<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="org.uniworks.groupware.admin.mapper.Nw012mMapper"> 
	<resultMap id="BaseResultMap" type="org.uniworks.groupware.admin.domain.Nw012m"> 
		<result column="CO_ID" jdbcType="VARCHAR" property="coId" /> 
		<result column="APPR_MST_ID" jdbcType="VARCHAR" property="apprMstId" /> 
		<result column="CRT_DATE" jdbcType="VARCHAR" property="crtDate" /> 
		<result column="APPR_LEVEL" jdbcType="INTEGER" property="apprLevel" /> 
		<result column="CLS_DATE" jdbcType="VARCHAR" property="clsDate" /> 
	</resultMap> 

	<!-- 목록 조회 --> 
	<select id="select" parameterType="java.util.Map" resultMap="BaseResultMap"> 
		select  CO_ID, APPR_MST_ID, CRT_DATE, APPR_LEVEL, CLS_DATE
		from   nw012m
	</select> 
 
	<!-- 상세 조회 --> 
	<select id="selectByPrimaryKey" parameterType="java.util.Map" resultMap="BaseResultMap"> 
		select  CO_ID, APPR_MST_ID, CRT_DATE, APPR_LEVEL, CLS_DATE
		from   nw012m
		where  CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and  APPR_MST_ID	=	#{apprMstId,jdbcType=VARCHAR} 
		  and  CRT_DATE	=	#{crtDate,jdbcType=VARCHAR} 
	</select> 
	
	<!-- 상세 조회 : 현재 일자를 기준으로 가장 최근 결재차수 정보를 가져온다. -->
	<select id="selectByCurrentApprLevel" parameterType="java.util.Map" resultMap="BaseResultMap">
		select CO_ID, APPR_MST_ID, CRT_DATE, APPR_LEVEL, CLS_DATE
		from   nw012m
		where  CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and  APPR_MST_ID	=	#{apprMstId,jdbcType=VARCHAR} 
		  and  #{crntDate,jdbcType=VARCHAR} between CRT_DATE and CLS_DATE
	</select>
 
	<!-- 등록 --> 
	<insert id="insert" parameterType="org.uniworks.groupware.admin.domain.Nw012m"> 
		insert	into nw012m(CO_ID, APPR_MST_ID, CRT_DATE, APPR_LEVEL, CLS_DATE) 
		values (#{coId,jdbcType=VARCHAR},#{apprMstId,jdbcType=VARCHAR},#{crtDate,jdbcType=VARCHAR},#{apprLevel,jdbcType=INTEGER},#{clsDate,jdbcType=VARCHAR}) 
	</insert> 
 
	<!-- 수정 --> 
	<update id="updateByPrimaryKey" parameterType="org.uniworks.groupware.admin.domain.Nw012m"> 
		update	nw012m 
		<trim prefix="SET" suffixOverrides=","> 
			<if test="apprLevel != null">APPR_LEVEL= #{apprLevel,jdbcType=INTEGER},</if> 
			<if test="clsDate != null">CLS_DATE= #{clsDate,jdbcType=VARCHAR},</if> 
		</trim> 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and	APPR_MST_ID	=	#{apprMstId,jdbcType=VARCHAR} 
		  and	CRT_DATE	=	#{crtDate,jdbcType=VARCHAR} 
	</update> 
 
	<!-- 삭제 --> 
	<delete id="deleteByPrimaryKey" parameterType="java.util.Map"> 
		delete	from nw012m 
		where	APPR_MST_ID	=	#{apprMstId,jdbcType=VARCHAR} 
		  and	CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  <if test="crtDate != null">
		  and	CRT_DATE	=	#{crtDate,jdbcType=VARCHAR}
		  </if> 
	</delete> 
</mapper>