<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="org.uniworks.groupware.admin.mapper.Nw106mMapper"> 
	<resultMap id="BaseResultMap" type="org.uniworks.groupware.admin.domain.Nw106m"> 
		<result column="CO_ID" jdbcType="VARCHAR" property="coId" /> 
		<result column="ROLE" jdbcType="VARCHAR" property="role" /> 
		<result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" /> 
		<result column="USE_INDC" jdbcType="VARCHAR" property="useIndc" /> 
		<result column="ROLE_DETL" jdbcType="VARCHAR" property="roleDetl" /> 
		<result column="CRT_ID" jdbcType="VARCHAR" property="crtId" /> 
		<result column="CRT_DATE" jdbcType="TIMESTAMP" property="crtDate" /> 
		<result column="CHNG_ID" jdbcType="VARCHAR" property="chngId" /> 
		<result column="CHNG_DATE" jdbcType="TIMESTAMP" property="chngDate" /> 
	</resultMap> 

	<!-- 목록 조회 --> 
	<select id="select" parameterType="java.util.Map" resultMap="BaseResultMap"> 
		select  CO_ID, ROLE, ROLE_NAME, USE_INDC, ROLE_DETL, CRT_ID, CRT_DATE, CHNG_ID, CHNG_DATE
		from   nw106m
		where  CO_ID	=	#{coId,jdbcType=VARCHAR} 
		order by CO_ID, ROLE
	</select> 
 
	<!-- 상세 조회 --> 
	<select id="selectByPrimaryKey" parameterType="java.util.Map" resultMap="BaseResultMap"> 
		select  CO_ID, ROLE, ROLE_NAME, USE_INDC, ROLE_DETL, CRT_ID, CRT_DATE, CHNG_ID, CHNG_DATE
		from   nw106m
		where  CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and  ROLE	=	#{role,jdbcType=VARCHAR} 
	</select> 
 
	<!-- 등록 --> 
	<insert id="insert" parameterType="org.uniworks.groupware.admin.domain.Nw106m"> 
		insert	into nw106m(CO_ID, ROLE, ROLE_NAME, USE_INDC, ROLE_DETL, CRT_ID, CRT_DATE, CHNG_ID, CHNG_DATE) 
		values (#{coId,jdbcType=VARCHAR},#{role,jdbcType=VARCHAR},#{roleName,jdbcType=VARCHAR},#{useIndc,jdbcType=VARCHAR},#{roleDetl,jdbcType=VARCHAR},#{crtId,jdbcType=VARCHAR},#{crtDate,jdbcType=TIMESTAMP} 
			,#{chngId,jdbcType=VARCHAR},#{chngDate,jdbcType=TIMESTAMP}) 
	</insert> 
 
	<!-- 수정 --> 
	<update id="updateByPrimaryKey" parameterType="org.uniworks.groupware.admin.domain.Nw106m"> 
		update	nw106m 
		<trim prefix="SET" suffixOverrides=","> 
			<if test="roleName != null">ROLE_NAME= #{roleName,jdbcType=VARCHAR},</if> 
			<if test="useIndc != null">USE_INDC= #{useIndc,jdbcType=VARCHAR},</if> 
			<if test="roleDetl != null">ROLE_DETL= #{roleDetl,jdbcType=VARCHAR},</if> 
			<if test="crtId != null">CRT_ID= #{crtId,jdbcType=VARCHAR},</if> 
			<if test="crtDate != null">CRT_DATE= #{crtDate,jdbcType=TIMESTAMP},</if> 
			<if test="chngId != null">CHNG_ID= #{chngId,jdbcType=VARCHAR},</if> 
			<if test="chngDate != null">CHNG_DATE= #{chngDate,jdbcType=TIMESTAMP},</if> 
		</trim> 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and	ROLE	=	#{role,jdbcType=VARCHAR} 
	</update> 
 
	<!-- 삭제 --> 
	<delete id="deleteByPrimaryKey" parameterType="java.util.Map"> 
		delete	from nw106m 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and	ROLE	=	#{role,jdbcType=VARCHAR} 
	</delete> 
</mapper>