<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="org.uniworks.groupware.admin.mapper.Om001mMapper"> 
	<resultMap id="BaseResultMap" type="org.uniworks.groupware.admin.domain.Om001m"> 
		<result column="CO_ID" jdbcType="VARCHAR" property="coId" /> 
		<result column="OGAN_CODE" jdbcType="VARCHAR" property="oganCode" /> 
		<result column="OGAN_LEV" jdbcType="VARCHAR" property="oganLev" /> 
		<result column="OGAN_ESTB_DATE" jdbcType="TIMESTAMP" property="oganEstbDate" /> 
		<result column="OGAN_NAME" jdbcType="VARCHAR" property="oganName" /> 
		<result column="RESC_KEY" jdbcType="VARCHAR" property="rescKey" /> 
		<result column="OGAN_CLS_DATE" jdbcType="TIMESTAMP" property="oganClsDate" /> 
		<result column="HIGH_OGAN_CODE" jdbcType="VARCHAR" property="highOganCode" /> 
		<result column="HIGH_OGAN_LEV" jdbcType="VARCHAR" property="highOganLev" /> 
		<result column="OGAN_TYPE" jdbcType="VARCHAR" property="oganType" /> 
		<result column="OGAN_DESC" jdbcType="VARCHAR" property="oganDesc" /> 
	</resultMap> 

	<!-- 목록 조회 --> 
	<select id="select" parameterType="java.util.Map" resultMap="BaseResultMap"> 
		select  A.CO_ID, A.OGAN_CODE, A.OGAN_LEV, A.OGAN_ESTB_DATE, B.RESC_KEY_VALUE OGAN_NAME, A.RESC_KEY, A.OGAN_CLS_DATE, A.HIGH_OGAN_CODE, A.HIGH_OGAN_LEV, 
				A.OGAN_TYPE, A.OGAN_DESC
		from   om001m A
		LEFT JOIN gw.om002m B ON  (
		      B.LOCALE	=	#{lang,jdbcType=VARCHAR}
		  and B.RESC_KEY = A.RESC_KEY)
		where  CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and  SYSDATE() between OGAN_ESTB_DATE and OGAN_CLS_DATE
		order by OGAN_LEV, OGAN_CODE, HIGH_OGAN_LEV, HIGH_OGAN_CODE
	</select> 
 
	<!-- 상세 조회 --> 
	<select id="selectByPrimaryKey" parameterType="java.util.Map" resultMap="BaseResultMap"> 
		select  CO_ID, OGAN_CODE, OGAN_LEV, OGAN_ESTB_DATE, OGAN_NAME, RESC_KEY, OGAN_CLS_DATE, HIGH_OGAN_CODE, HIGH_OGAN_LEV, 
				OGAN_TYPE, OGAN_DESC
		from   om001m
		where  CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and  OGAN_CODE	=	#{oganCode,jdbcType=VARCHAR} 
		  and  OGAN_LEV	=	#{oganLev,jdbcType=VARCHAR}
		  and  OGAN_ESTB_DATE	=	#{oganEstbDate,jdbcType=TIMESTAMP} 		  
	</select> 
 
	<!-- 등록 --> 
	<insert id="insert" parameterType="org.uniworks.groupware.admin.domain.Om001m"> 
		insert	into om001m(CO_ID, OGAN_CODE, OGAN_LEV, OGAN_ESTB_DATE, OGAN_NAME, RESC_KEY, OGAN_CLS_DATE, HIGH_OGAN_CODE, HIGH_OGAN_LEV, 
				OGAN_TYPE, OGAN_DESC) 
		values (#{coId,jdbcType=VARCHAR},#{oganCode,jdbcType=VARCHAR},#{oganLev,jdbcType=VARCHAR},#{oganEstbDate,jdbcType=TIMESTAMP},#{oganName,jdbcType=VARCHAR},#{rescKey,jdbcType=VARCHAR},#{oganClsDate,jdbcType=TIMESTAMP} 
			,#{highOganCode,jdbcType=VARCHAR},#{highOganLev,jdbcType=VARCHAR},#{oganType,jdbcType=VARCHAR},#{oganDesc,jdbcType=VARCHAR}) 
	</insert> 
 
	<!-- 수정 --> 
	<update id="updateByPrimaryKey" parameterType="org.uniworks.groupware.admin.domain.Om001m"> 
		update	om001m 
		<trim prefix="SET" suffixOverrides=","> 
			<if test="oganName != null">OGAN_NAME= #{oganName,jdbcType=VARCHAR},</if> 
			<if test="rescKey != null">RESC_KEY= #{rescKey,jdbcType=VARCHAR},</if> 
			<if test="oganClsDate != null">OGAN_CLS_DATE= #{oganClsDate,jdbcType=TIMESTAMP},</if> 
			<if test="highOganCode != null">HIGH_OGAN_CODE= #{highOganCode,jdbcType=VARCHAR},</if> 
			<if test="highOganLev != null">HIGH_OGAN_LEV= #{highOganLev,jdbcType=VARCHAR},</if> 
			<if test="oganType != null">OGAN_TYPE= #{oganType,jdbcType=VARCHAR},</if> 
			<if test="oganDesc != null">OGAN_DESC= #{oganDesc,jdbcType=VARCHAR},</if> 
		</trim> 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and	OGAN_CODE	=	#{oganCode,jdbcType=VARCHAR} 
		  and	OGAN_LEV	=	#{oganLev,jdbcType=VARCHAR} 
		  and	OGAN_ESTB_DATE	=	#{oganEstbDate,jdbcType=TIMESTAMP} 
	</update> 
 
	<!-- 삭제 --> 
	<delete id="deleteByPrimaryKey" parameterType="java.util.Map"> 
		delete	from om001m 
		where	CO_ID	=	#{coId,jdbcType=VARCHAR} 
		  and	OGAN_CODE	=	#{oganCode,jdbcType=VARCHAR} 
		  and	OGAN_ESTB_DATE	=	#{oganEstbDate,jdbcType=TIMESTAMP} 
		  and	OGAN_LEV	=	#{oganLev,jdbcType=VARCHAR} 
	</delete> 
</mapper>